In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

# Pandas options
pd.set_option("display.html.use_mathjax", False)
pd.set_option("display.precision", 3)
pd.set_option('display.max_columns', None)

# dataset dir
data_dir = "data/"

# define file paths
survey_files = [
    "model_average_SP.csv",
    "model_average_RP.csv",
    "model_average_sim.csv",
]

# read a sample of the data
df_sp = pd.read_csv(data_dir + survey_files[0])
df_sp.columns = df_sp.columns.str.upper()
df_sp[['AV1', 'AV2']] = 1
display(df_sp.head())
display(df_sp.describe())

,ID,CHOICE,TT1,TC1,HW1,CH1,TT2,TC2,HW2,CH2,HH_INC_ABS,CAR_AVAILABILITY,COMMUTE,SHOPPING,BUSINESS,LEISURE,AV1,AV2
0,1,2,23,3,15,2,31,2,15,1,90000,1,0,0,0,1,1,1
1,1,2,17,3,60,2,24,2,60,0,90000,1,0,0,0,1,1,1
2,1,1,18,3,15,0,26,2,60,0,90000,1,0,0,0,1,1,1
3,1,2,28,3,15,2,35,2,15,1,90000,1,0,0,0,1,1,1
4,1,2,23,3,60,2,31,2,30,0,90000,1,0,0,0,1,1,1

,ID,CHOICE,TT1,TC1,HW1,CH1,TT2,TC2,HW2,CH2,HH_INC_ABS,CAR_AVAILABILITY,COMMUTE,SHOPPING,BUSINESS,LEISURE,AV1,AV2
count,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.0,2790.0
mean,155.500,1.502,52.652,19.327,32.468,0.938,52.566,19.367,32.489,0.946,77790.323,0.374,0.281,0.084,0.087,0.548,1.0,1.0
std,89.505,0.500,46.862,22.550,18.446,0.805,46.644,22.962,18.539,0.802,45184.236,0.484,0.449,0.277,0.282,0.498,0.0,0.0
min,1.000,1.000,2.000,1.000,15.000,0.000,2.000,1.000,15.000,0.000,10000.000,0.000,0.000,0.000,0.000,0.000,1.0,1.0
25%,78.000,1.000,18.000,5.000,15.000,0.000,18.000,5.000,15.000,0.000,50000.000,0.000,0.000,0.000,0.000,0.000,1.0,1.0
50%,155.500,2.000,36.000,10.000,30.000,1.000,36.000,10.000,30.000,1.000,70000.000,0.000,0.000,0.000,0.000,1.000,1.0,1.0
75%,233.000,2.000,75.000,25.000,60.000,2.000,73.000,25.000,60.000,2.000,112500.000,1.000,1.000,0.000,0.000,1.000,1.0,1.0
max,310.000,2.000,327.000,206.000,60.000,2.000,385.000,268.000,60.000,2.000,167500.000,1.000,1.000,1.000,1.000,1.000,1.0,1.0

# df_rp

In [2]:
df_rp = pd.read_csv(data_dir + survey_files[1])
df_rp.columns = df_rp.columns.str.upper()
print({p: rval for p, rval in zip(*np.unique(df_rp["PURPOSE"], return_counts=1))})

df_rp["PURPOSE_WORK"] = 0
df_rp["PURPOSE_HOME"] = 0
df_rp["PURPOSE_LEISURE"] = 0
df_rp.loc[df_rp["PURPOSE"].str.split(" ", expand=True)[0] == "Work", "PURPOSE_WORK"] = 1
df_rp.loc[df_rp["PURPOSE"].str.split(" ", expand=True)[0] == "Home", "PURPOSE_HOME"] = 1
df_rp.loc[df_rp["PURPOSE"].isin([
	"Cinema or other night out", 
	"Clothes shopping", 
	"Family Activity", 
	"Leisure Other", 
	"Museum/cultural", 
	"Social", 
	"Restaurant", 
	"Sports activity", 
	"Shopping - Major", 
	]), "PURPOSE_LEISURE"] = 1

df_rp["WEEKEND"] = 0
df_rp.loc[df_rp["DAY_OF_THE_WEEK_START"].isin(["Saturday", "Sunday"]), "WEEKEND"] = 1
df_rp.drop(["PURPOSE", "DAY_OF_THE_WEEK_START"], axis=1, inplace=True)

{'Cinema or other night out': 203, 'Clothes shopping': 147, 'College/University': 191, 'Dropoff Daycare': 131, 'Dropoff K12': 227, 'Dropoff Other': 318, 'Dropoff Scheduled Activity': 79, 'Dropoff Work': 93, 'Errand Other': 186, 'Errands with Appointment': 108, 'Errands without Appointment': 200, 'Exercise': 337, 'Family Activity': 109, 'Gas': 87, 'Grocery': 1079, 'Home': 1669, 'K-12 School': 2, 'Leisure Other': 127, 'Medical': 105, 'Museum/cultural': 54, 'Other Class': 4, 'OtherPurpose': 354, 'Primary Workplace': 1936, 'Restaurant': 575, 'Shopping - Major': 75, 'Social': 525, 'Sports activity': 143, 'Vacation/Travel': 11, 'Vocational education': 4, 'Work Other': 97, 'Work Related': 774, 'Work Travel': 135, 'Work Volunteer': 35}

In [3]:
df_rp.fillna(0, inplace=True)
display(df_rp.head())
display(df_rp.describe())

,ID,N_CAR,N_BICYCLE,N_MOTORCYCLE,AVAIL_CAR,AVAIL_TAXI,AVAIL_BUS,AVAIL_RAIL,AVAIL_CYCLING,AVAIL_WALKING,TOTAL_CAR_COST,TAXI_COST,CITY.LEEDS,CITY.WESTYORKSHIRE,CITY.ELSEWHEREUK,CITY.NA,FEMALE,AGE,BRITISH_ORIGIN,O_LEVEL,A_LEVEL,VOC_QUAL,MASTERS,PHD,OCC,OCC_FULL_TIME,NB_HH_EMPLOYED,MAR,HH_SIZE,INCOME_PERSO,CAR_DISTANCE_KM,BUS_DISTANCE_KM,RAIL_DISTANCE_KM,TAXI_DISTANCE_KM,CYCLING_DISTANCE_KM,WALKING_DISTANCE_KM,CAR_TRAVEL_TIME_MIN,BUS_TRAVEL_TIME_MIN,RAIL_TRAVEL_TIME_MIN,TAXI_TRAVEL_TIME_MIN,CYCLING_TRAVEL_TIME_MIN,WALKING_TRAVEL_TIME_MIN,BUS_IVT_TIME_MIN,BUS_ACCESS_EGRESS_TIME_MIN,RAIL_IVT_TIME_MIN,RAIL_ACCESS_EGRESS_TIME_MIN,CHOICE,BUS_TRANSFERS,RAIL_TRANSFERS,INCOME_HH,BUS_COST_TOTAL_PER_LEG,RAIL_COST_TOTAL_PER_LEG,PURPOSE_WORK,PURPOSE_HOME,PURPOSE_LEISURE,WEEKEND
0,1,1,1,0,1,1,1,1,0,0,3.669,21.893,0,1,0,0,0,4,1,1,1,1,0,0,16,1,1,2,3,4,26.595,22.278,22.592,26.595,21.388,17.630,61.000,80.017,40.767,61.000,66.367,221.067,61.750,2.550,21.0,15.767,3,2.0,1.0,6,2.071,4.065,0,0,0,0
1,1,1,1,0,0,1,0,1,1,0,0.672,6.451,0,1,0,0,0,4,1,1,1,1,0,0,16,1,1,2,3,4,5.428,6.196,6.196,5.428,5.437,5.366,10.767,18.917,18.917,10.767,23.517,67.717,5.000,13.917,5.0,13.917,3,0.0,0.0,6,2.071,4.065,0,1,0,0
2,1,1,1,0,1,1,1,1,0,0,6.677,17.132,0,1,0,0,0,4,1,1,1,1,0,0,16,1,1,2,3,4,19.681,19.692,23.318,19.681,21.608,17.377,47.350,82.800,64.067,47.350,68.483,218.833,58.967,5.083,19.0,22.067,3,1.0,1.0,6,0.518,2.710,0,0,0,0
3,1,1,1,0,0,0,1,0,0,1,0.464,3.559,0,1,0,0,0,4,1,1,1,1,0,0,16,1,1,2,3,4,0.861,0.627,0.627,0.861,0.675,0.627,4.217,6.833,0.000,4.217,3.450,8.067,1.000,5.833,0.0,0.000,6,0.0,0.0,6,0.518,0.000,0,0,0,0
4,1,1,1,0,0,1,0,1,0,0,2.397,15.830,0,1,0,0,0,4,1,1,1,1,0,0,16,1,1,2,3,4,20.553,18.396,18.396,20.553,22.370,17.373,30.517,20.967,20.967,30.517,71.783,219.617,11.000,9.967,11.0,9.967,3,0.0,0.0,6,0.518,2.710,0,1,0,0

,ID,N_CAR,N_BICYCLE,N_MOTORCYCLE,AVAIL_CAR,AVAIL_TAXI,AVAIL_BUS,AVAIL_RAIL,AVAIL_CYCLING,AVAIL_WALKING,TOTAL_CAR_COST,TAXI_COST,CITY.LEEDS,CITY.WESTYORKSHIRE,CITY.ELSEWHEREUK,CITY.NA,FEMALE,AGE,BRITISH_ORIGIN,O_LEVEL,A_LEVEL,VOC_QUAL,MASTERS,PHD,OCC,OCC_FULL_TIME,NB_HH_EMPLOYED,MAR,HH_SIZE,INCOME_PERSO,CAR_DISTANCE_KM,BUS_DISTANCE_KM,RAIL_DISTANCE_KM,TAXI_DISTANCE_KM,CYCLING_DISTANCE_KM,WALKING_DISTANCE_KM,CAR_TRAVEL_TIME_MIN,BUS_TRAVEL_TIME_MIN,RAIL_TRAVEL_TIME_MIN,TAXI_TRAVEL_TIME_MIN,CYCLING_TRAVEL_TIME_MIN,WALKING_TRAVEL_TIME_MIN,BUS_IVT_TIME_MIN,BUS_ACCESS_EGRESS_TIME_MIN,RAIL_IVT_TIME_MIN,RAIL_ACCESS_EGRESS_TIME_MIN,CHOICE,BUS_TRANSFERS,RAIL_TRANSFERS,INCOME_HH,BUS_COST_TOTAL_PER_LEG,RAIL_COST_TOTAL_PER_LEG,PURPOSE_WORK,PURPOSE_HOME,PURPOSE_LEISURE,WEEKEND
count,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.0,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000,10120.000
mean,209.087,0.949,0.882,0.037,0.536,0.895,0.912,0.294,0.394,0.415,1.487,8.176,0.704,0.099,0.197,0.0,0.570,4.421,0.953,0.878,0.784,0.469,0.237,0.076,10.215,0.658,1.025,2.032,1.880,3.678,8.187,8.264,8.793,8.187,7.787,6.918,14.507,34.259,27.498,14.507,27.579,86.799,21.086,9.639,11.696,11.320,2.741,0.310,0.305,5.601,2.463,4.011,0.103,0.165,0.193,0.217
std,123.632,0.704,1.221,0.306,0.499,0.307,0.283,0.456,0.489,0.493,1.999,6.023,0.457,0.299,0.398,0.0,0.495,1.545,0.211,0.327,0.411,0.499,0.425,0.265,4.339,0.474,0.896,0.863,1.333,2.571,10.252,10.835,12.956,10.252,10.242,8.863,11.168,33.984,34.696,11.168,34.271,110.294,23.829,6.522,15.734,12.020,2.119,0.585,0.690,2.674,2.078,6.859,0.304,0.371,0.395,0.412
min,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.001,2.713,0.000,0.000,0.000,0.0,0.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,1.000,0.010,0.000,0.000,0.010,0.001,0.001,0.000,0.000,0.000,0.000,0.000,0.017,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,105.000,1.000,0.000,0.000,0.000,1.000,1.000,0.000,0.000,0.000,0.366,4.532,0.000,0.000,0.000,0.0,0.000,4.000,1.000,1.000,1.000,0.000,0.000,0.000,7.000,0.000,0.000,1.000,1.000,2.000,2.283,1.768,1.415,2.283,1.773,1.600,6.683,12.567,0.000,6.683,6.867,20.133,4.000,5.183,0.000,0.000,1.000,0.000,0.000,4.000,1.500,0.000,0.000,0.000,0.000,0.000
50%,207.000,1.000,1.000,0.000,1.000,1.000,1.000,0.000,0.000,0.000,0.720,6.041,1.000,0.000,0.000,0.0,1.000,4.000,1.000,1.000,1.000,0.000,0.000,0.000,11.000,1.000,1.000,2.000,2.000,3.000,4.544,4.502,3.982,4.544,4.208,3.902,10.817,24.683,19.967,10.817,15.558,49.075,13.000,8.500,7.000,8.583,2.000,0.000,0.000,5.000,2.300,2.071,0.000,0.000,0.000,0.000
75%,315.000,1.000,1.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.624,9.325,1.000,0.000,0.000,0.0,1.000,6.000,1.000,1.000,1.000,1.000,0.000,0.000,13.000,1.000,1.000,3.000,3.000,4.000,9.509,10.087,10.402,9.509,9.056,8.225,18.800,45.792,42.504,18.800,33.258,104.087,29.921,12.950,17.300,20.371,6.000,1.000,0.000,7.000,3.400,4.065,0.000,0.000,0.000,0.000
max,432.000,4.000,6.000,6.000,1.000,1.000,1.000,1.000,1.000,1.000,26.290,57.067,1.000,1.000,1.000,0.0,1.000,8.000,1.000,1.000,1.000,1.000,1.000,1.000,16.000,1.000,7.000,5.000,8.000,12.000,93.843,120.238,150.435,93.843,97.910,84.556,93.400,779.200,764.500,93.400,311.433,1040.133,214.433,56.667,164.950,77.800,6.000,4.000,5.000,12.000,16.600,56.700,1.000,1.000,1.000,1.000

# df_sim

In [4]:
df_sim = pd.read_csv(data_dir + survey_files[2])
df_sim.columns = df_sim.columns.str.upper()
display(df_sim.head())
display(df_sim.describe())

,UNNAMED: 0,ID,CAR_TIME,CAR_COST,AIR_TIME,AIR_COST,AIR_ACCESS,RAIL_TIME,RAIL_COST,RAIL_ACCESS,HSR_TIME,HSR_COST,HSR_ACCESS,INCOME,FEMALE,CHOICE
0,2001,1,420,65,115,140,50,495,40,15,190,95,30,1800,1,4
1,2002,1,340,60,90,155,60,650,55,15,285,105,25,1800,1,1
2,2003,1,515,50,50,105,40,405,50,35,255,75,30,1800,1,1
3,2004,1,485,45,45,150,85,505,80,35,230,125,45,1800,1,1
4,2005,1,495,45,50,70,60,385,80,20,260,145,30,1800,1,1

,UNNAMED: 0,ID,CAR_TIME,CAR_COST,AIR_TIME,AIR_COST,AIR_ACCESS,RAIL_TIME,RAIL_COST,RAIL_ACCESS,HSR_TIME,HSR_COST,HSR_ACCESS,INCOME,FEMALE,CHOICE
count,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000,4000.000
mean,2478.650,200.500,437.702,57.312,82.846,120.446,55.396,473.147,62.050,24.899,206.256,115.359,35.299,1738.500,0.492,1.819
std,1443.223,115.484,63.683,13.100,21.732,28.764,20.198,100.651,15.817,11.721,49.223,25.866,14.416,557.939,0.500,1.176
min,1.000,1.000,330.000,35.000,45.000,70.000,20.000,300.000,35.000,5.000,120.000,70.000,10.000,800.000,0.000,1.000
25%,1250.750,100.750,380.000,45.000,65.000,95.000,40.000,385.000,50.000,15.000,165.000,95.000,25.000,1300.000,0.000,1.000
50%,2450.500,200.500,435.000,60.000,85.000,120.000,55.000,475.000,60.000,25.000,205.000,115.000,35.000,1700.000,0.000,1.000
75%,3730.250,300.250,490.000,70.000,100.000,145.000,75.000,560.000,75.000,35.000,250.000,140.000,45.000,2200.000,1.000,2.000
max,5000.000,400.000,550.000,80.000,120.000,170.000,90.000,650.000,90.000,45.000,290.000,160.000,60.000,2700.000,1.000,4.000